astroplan==0.10
astropy==6.0.1
astropy-iers-data==0.2024.4.22.0.29.50
astroquery==0.4.7
backports.tarfile==1.1.1
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
DateTime==5.5
h3==3.7.7
html5lib==1.1
idna==3.7
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
keyring==25.2.1
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.2.0
numpy==1.26.4
packaging==24.0
pycparser==2.22
pyerfa==2.0.1.4
Pygments==2.17.2
PyOngc==1.1.0
pytz==2024.1
pyvo==1.5.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.32.2
rich==13.7.1
six==1.16.0
soupsieve==2.5
timezonefinder==6.5.0
urllib3==2.2.2
webencodings==0.5.1
zipp==3.18.2
zope.interface==6.3
